<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <ul class="nav-list">
        <li><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
        <li><a class="nav-link" href="{{ '/about' | relative_url }}">About</a></li>
        <li><a class="nav-link" href="{{ '/post' | relative_url }}">Post</a></li>
      </ul>
    </nav>
    <main>
      <!-- {{ content }} -->
    </main>
  </div>
</body>
</html>
